<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="header">

    <div class="header">
        <!-- Application Logo -->
        <a href="#" class="logo">
            <img src="/resources/images/logo.png" alt="">
        </a>
    </div>

    <!-- Optional 1: left side menu -->
    <div class="layout--sidemenu">
        <span class="sidemenu-back icon icon-arrow-left"></span>
        <div class="spacer20"></div>
        <!-- Your content -->
    </div>

</div>
</body>
</html>
