<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

    <title>AMS| Coordinates from Asset</title>
</head>
<body class="layout-with-header layout-with-footer layout-with-sidebar">

<div class="layout--header">
    <!-- Insert your header -->
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</div>


<div class="layout--wrapper">

    <div class="layout--sidebar">
        <!-- Insert your sidebar -->
        <div class="sidebar">
            <div class="sidemenu">
                <!-- Repeat for each menu -->
                <!--/*/ <th:block th:include="fragments/menu :: menu"></th:block> /*/-->
            </div>
            <!--/*/ <th:block th:include="fragments/backbutton :: backbutton"></th:block> /*/-->
        </div>
    </div>

    <div class="layout--content">
        <div class="content--header">
        </div>


        <!-- Insert your content -->
        <div class="container">

            <div th:if="${not #lists.isEmpty(coordinates)}">
                <h2 class="color-primary">Coordinates belonging to <span th:text="${asset.assetIdentifier}">assetidentifier</span>
                </h2>

                <div class="column">
                    <div class="column--item">
                        <div class="panel">
                            <table class="table table-striped">
                                <tr>
                                    <th>Id</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                <tr th:each="coordinate : ${coordinates}">
                                    <td th:text="${coordinate.id}"><a href="/coordinate/${coordinate.id}">Id</a></td>
                                    <td th:text="${coordinate.latitude}">Latitude</td>
                                    <td th:text="${coordinate.longitude}">Longitude</td>
                                    <td><a th:href="${ '/coordinate/edit/' + coordinate.id}">Edit</a></td>
                                    <td><a th:href="${ '/coordinate/delete/' + coordinate.id}">Delete</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <a th:href="${ '/asset/' + asset.id +'/coordinates/deleteAll'}" class="button--alert">Delete all
                        Coordinates</a>
                    <a th:href="${ '/asset/' + asset.id + '/drawAssetPlot'}" class="button--primary">Draw asset
                        gps-plot</a>
                    <a th:href="${ '/asset/' + asset.id +'/coordinates/add'}" class="button--primary">Add Coordinate</a>
                </div>
            </div>
            <div class="row" th:if="${#lists.isEmpty(coordinates)}">
                <div>
                    <h4 class="color-primary">No coordinates found. Draw gps-plot or add coordinates manually.</h4>
                </div>
                <a th:href="${ '/asset/' + asset.id + '/drawAssetPlot'}" class="button--primary">Draw asset
                    gps-plot</a>
                <a th:href="${ '/asset/' + asset.id +'/coordinates/add'}" class="button--primary">Add Coordinate</a>
            </div>
        </div>
    </div>

    <div class="content--footer">
    </div>
</div>
</div>

<div class="layout--footer">
    <!-- Insert your footer -->
</div>
</body>

</html>
