@import "../../theme.scss";
.content{

    padding:4rem 2rem;
    padding-right: 20%;
    color: white;
}

.color-red {
  color: RED;
}

.margin-sides {
  padding-left: 45px;
  padding-right: 45px;
}

.table {
  font-size: 0.8em;
}

.display-none {
  display: none;
}